<div class="column is-half-desktop is-half-tablet">
  <a class="category-link" href="{{ item.url | relative_url }}">
    <div class="category-link_main">
      <h4 class="title is-5">{{ item.title | escape }}</h4>
      <p class="content">{{item.short_description}}</p>
    </div>
    <div class="category-link_footer">
      <span class="icon">
        <i class="far fa-arrow-alt-circle-right"></i>
      </span>
    </div>
  </a>
</div>