<article class="message is-primary">
  <div class="message-body">
    <h3>Adresse</h3>
    <p>Kèpos
      <br>
      {{ site.data.config.address | escape }}
      <br>
      {{ site.data.config.city | escape }}
    </p>
    {% if site.data.config.email %}
    <h3>Email</h3>
    <p><a href="mailto:{{ site.data.config.email }}">{{ site.data.config.email }}</a></p>
    {% endif %}
    {% if site.data.config.phone %}
    <h3>Téléphone</h3>
    <p><a href="tel:{{ site.data.config.phone }}">{{ site.data.config.phone }}</a></p>
    {% endif %}
  </div>
</article>