<header role="banner">
  <nav class="navbar {% if page.url == '/' %}{{ 'landing' }}{% else %}{{ '' }}{% endif %}">
    <div class="container">
      <div class="navbar-brand brand-title">
        <a class="navbar-item" href="{{ "/" | relative_url }}">
          {% asset logo-kepos.svg alt={{site.title}} %}
        </a>
        <div class="navbar-burger burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-end">
          {% assign default_paths = site.pages | map: "path" %}
          {% assign page_paths = site.header_pages | default: default_paths %}
          {% for path in page_paths %}
            {% assign entry = site.pages | where: "path", path | first %}
            {% if entry.title %}
              <a class="navbar-item {% if page.category == entry.category %}is-active{% endif %}" href="{{ entry.url | relative_url }}">{{
                entry.title| escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>
</header>




