{% assign partner = include.partner %}


<div class="card member-card">
  <div class="card-image">
    <figure class="image">
      {% asset {{partner.picture}} @magick:2x magick:resize="800" magick:crop="840x600+0+0"
      magick:gravity="center" magick:compress="jpeg" alt='photo {{partner.name}}' %}
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ partner.name }}</p>
      </div>
    </div>

    <div class="content">
      <p>{{ partner.description }}</p>
    </div>
  </div>
  <footer class="member-card_footer is-6">
    {% if partner.website %}
    <div class="member-card_footer-item">
      <a href="{{ partner.website }}">
        <!-- <span class="icon">
          <i class="fas fa-at"></i>
        </span> -->
        {{ partner.website_label | remove_first: "https://" | remove_first: "http://" }}
      </a>
    </div>
    {% endif %}
  </footer>
</div>