// Custom initial variables
$dark-green: #008d36;
$light-green: #95c11f;
$dark-green-invert: findColorInvert($dark-green);
$light-green-invert: findColorInvert($light-green);
$dark-grey-green: #2D3A3A;

// Add a serif family
$family-sans-serif-bis: "OpenSans", "Montserrat", sans-serif !default;
$family-primary: $family-sans-serif-bis;

// container width
$fullhd-enabled: false;

$navbar-item-img-max-height: 2.75rem;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $dark-green !default;

// radius
$radius-small: 0px;
$radius: 0px;
$radius-large: 0px;

// $size-1: 3rem !default
// $size-2: 2.5rem !default
// $size-3: 2rem !default
// $size-4: 1.5rem !default
$size-5: 1.2rem !default;
// $size-6: 1rem !default
// $size-7: 0.75rem !default

// 3. Set the derived variables
$primary: $dark-green;
$primary-invert: $dark-green-invert;
$secondary: $light-green;
$secondary-invert: $light-green-invert;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$background: #f4f5f4;

// $secondary-invert: findColorInvert($secondary);

// Bulma variables overrides ===================================

// Link colors ----------------
$link: $dark-green !default;
$link-invert: $dark-green-invert !default;
$link-visited: $purple !default;

$link-hover: darken($dark-green, 10%) !default;
$link-hover-border: $grey-light !default;

$link-focus: darken($dark-green, 10%) !default;
$link-focus-border: $dark-green !default;

$link-active: darken($dark-green, 10%) !default;
$link-active-border: $grey-dark !default;

// 5. Add new color variables to the color map.
@import "bulma/utilities/derived-variables";

$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert),
  "secondary": ($secondary, $secondary-invert),
  "primary-invert": ($primary-invert, $primary),
  "background": ($background, $background),
);
$colors: map-merge($colors, $addColors);

